@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Roboto:300,400,400i,500,700,900&subset=latin-ext");
/*$color-footer-line: #5d5853;*/
body {
  font-family: "Baloo Bhaijaan", cursive; }

/*//other
$inuit-wrapper-width: 1320px;
$global-radius: 6px !default;
$global-btn-radius: 10%  50% !default;
$global-transition: all 300ms ease-in-out !default;

//spacing
$inuit-global-baseline:     6px !default;

$inuit-global-spacing-unit-factor-tiny:   6px !default;
$inuit-global-spacing-unit-factor-small:  12px !default;
$inuit-global-spacing-unit-factor:        24px !default;
$inuit-global-spacing-unit-factor-large:  48px !default;
$inuit-global-spacing-unit-factor-huge:   96px !default;

$inuit-global-spacing-unit-tiny:  36px !default;
$inuit-global-spacing-unit-small: 72px !default;
$inuit-global-spacing-unit:       144px !default;
$inuit-global-spacing-unit-large: 288px !default;
$inuit-global-spacing-unit-huge:  576px !default;

$inuit-global-font-size:    16px !default;
$inuit-global-line-height:  144px !default;


//align-text
.u-text-left {
  text-align: left;
}
.u-text-center {
  text-align: center;
}
.u-text-right {
  text-align: right;
}
.u-text-justify {
  text-align: justify;
}

//spacing
$inuit-spacing-directions: (
        null: null,
        "-top": "-top",
        "-right": "-right",
        "-bottom": "-bottom",
        "-left": "-left",
        "-horizontal": "-left" "-right",
        "-vertical": "-top" "-bottom",
) !default;

$inuit-spacing-properties: (
        "padding": "padding",
        "margin": "margin",
) !default;

$inuit-spacing-sizes: (
        null: $inuit-global-spacing-unit,
        "-tiny": $inuit-global-spacing-unit-tiny,
        "-small": $inuit-global-spacing-unit-small,
        "-large": $inuit-global-spacing-unit-large,
        "-huge": $inuit-global-spacing-unit-huge,
        "-none": 0
) !default;

$inuit-spacing-directions: null !default;
$inuit-widths-breakpoint-separator: \@ !default;
$inuit-responsive-spacing-directions: null !default;
$inuit-responsive-spacing-properties: null !default;
$inuit-responsive-spacing-sizes: null !default;







html {
  font-size: ($inuit-global-font-size / 16px) * 1em; !* [1] *!
  line-height: $inuit-global-line-height / $inuit-global-font-size; !* [1] *!
  overflow-y: scroll; !* [2] *!
  min-height: 100%; !* [3] *!
  font-family: $font-main;
  color: $color-black;
}


.u-hidden {
  display: none !important;
}
@mixin inuit-hidden-visually() {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

@media print {
  !*1. Black prints faster: http://www.sanbeiji.com/archives/953*!
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important; !* [1] *!
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  !*DonÔÇÖt show links that are fragment identifiers, or use the `javascript: `pseudo protocol.*!
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  !*Printing Tables: http://css-discuss.incutio.com/wiki/Printing_Tables*!
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }

}*/
body {
  padding: 0;
  margin: 0; }

.c-header {
  box-sizing: border-box; }
  .c-header ul {
    list-style-type: none; }
    .c-header ul li a {
      text-decoration: none; }

@media (max-width: 1024px) {
  .c-tablet-hide {
    display: none !important; }

  .c-mobile-hide {
    display: none !important; }

  .c-header {
    margin: 0 1rem; }

  .c-nav_mob {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-bottom: 1px solid #d7d7d7; }

  .c-dropdown-a_arrow {
    color: #312b25;
    text-decoration: none; } }
@media (min-width: 1025px) {
  .c-desktop-hide {
    display: none !important; }

  .c-header {
    width: calc(100% - (1.5rem * 2));
    margin: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d7d7d7; } }
/*  LOGO and NAME  */
.c-header_brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #312b25; }

.c-brand_logo {
  height: 5rem; }

.c-brand_name {
  margin: 0;
  font-size: 2.4rem;
  font-weight: normal;
  letter-spacing: 2px; }

@media (max-width: 1024px) {
  .c-brand_name {
    padding: 0; } }
@media (min-width: 1025px) {
  .c-brand_name {
    padding: 0 1.5rem; } }
/*  COUNTERS  */
.c-header_counters {
  /*width: 32%;*/
  display: flex;
  margin: 0; }

.c-counters_ul {
  margin: 0; }

.c-counter_li {
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 2px; }

.c-counter_name {
  color: #5bb798;
  font-size: 0.8rem; }

.c-counter_value {
  color: #312b25;
  font-size: 1.65rem; }

@media (max-width: 1024px) {
  .c-header_counters {
    justify-content: center;
    border-bottom: 1px solid #d7d7d7; }

  .c-counters_ul {
    padding: 1.5rem; } }
@media (min-width: 1025px) {
  .c-header_counters {
    flex-wrap: wrap;
    padding: 1.5rem;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7; }

  .c-counters_ul {
    padding: 0 1.5rem; } }
/*  NAVIGATION  */
.c-header_nav {
  /*width: 22%;*/
  display: flex;
  font-size: 1.1rem;
  font-weight: normal; }

.c-nav_ul {
  display: inline-flex;
  padding: 0;
  margin: 0; }

.c-nav_item {
  color: #5bb798;
  letter-spacing: 2px;
  line-height: 1.5;
  padding: 2rem; }

.c-nav_item:hover {
  color: #347861; }

.c-content {
  display: flex;
  flex-direction: column; }

.c-content_doctor {
  display: inline-block;
  text-decoration: none;
  color: #8d8d8d;
  background-color: #f7f7f7;
  font-size: 0.9rem;
  letter-spacing: 2px;
  line-height: 1.5;
  padding: 0.7rem 1rem;
  margin-left: 4rem;
  z-index: 3; }

.c-content_intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; }

.c-intro_logo {
  width: 25rem;
  height: auto;
  z-index: 2;
  /* background-image: url("../img/hp-green.svg");
   background-repeat: no-repeat;
   background-size: 100%;
   background-position-y: top;
   background-position-x: -15%;*/ }

.c-intro_logo-bcg {
  position: absolute;
  left: 0;
  top: 7rem;
  width: 40%;
  height: auto;
  z-index: 1; }

.c-intro_desc {
  width: 50%;
  text-align: center;
  padding-right: 2rem; }

.c-desc-text {
  font-size: 2.5rem;
  letter-spacing: 2px;
  line-height: 1.5; }

.c-desc-btn {
  font-family: "Baloo Bhaijaan", cursive;
  font-size: 1.6rem;
  color: #f7f7f7;
  background-color: #5bb798;
  letter-spacing: 2px;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 3rem;
  cursor: pointer;
  border: none;
  /*border-radius: 50px;*/
  border-top-left-radius: 10% 50%;
  border-top-right-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%; }

.c-desc-btn:hover {
  background-color: #347861; }

.c-footer {
  background-color: #312b25;
  color: #f7f7f7;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  /*position: absolute;
  bottom: 0;*/
  padding: 0 1rem;
  line-height: 2;
               /*
vertical-align: top;*/ }
  .c-footer h3 {
    font-family: "Baloo Bhaijaan", cursive;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: 0;
    /*line-height: 0;*/
    margin-bottom: 0.5rem; }
  @media (max-width: 1024px) {
    .c-footer {
      margin-top: 2rem; } }
  @media (min-width: 1025px) {
    .c-footer {
      margin-top: 4rem; } }

.c-footer_in {
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid #797571; }
  @media (max-width: 1024px) {
    .c-footer_in {
      flex-direction: column; } }
  @media (min-width: 1025px) {
    .c-footer_in {
      flex-direction: row;
      padding-top: 2rem; } }

.c-footer_desc {
  box-sizing: border-box; }
  @media (max-width: 1024px) {
    .c-footer_desc {
      text-align: center;
      border-bottom: 1px solid #797571;
      padding: 1rem 0; } }
  @media (min-width: 1025px) {
    .c-footer_desc {
      padding: 0 3rem 1rem 3rem;
      max-width: 24rem; } }

.c-ftr-desc_text {
  margin: 0; }

.c-footer_insta {
  box-sizing: border-box; }
  @media (max-width: 1024px) {
    .c-footer_insta {
      text-align: center;
      border-bottom: 1px solid #797571;
      padding: 1rem 0; } }
  @media (min-width: 1025px) {
    .c-footer_insta {
      border-left: 1px solid #797571;
      border-right: 1px solid #797571;
      padding: 0 3rem 1rem 3rem;
      max-width: 24.4rem; } }

.c-ftr_line-height-padding {
  padding-bottom: 0.5rem; }

.c-footer_links-in {
  box-sizing: border-box; }
  @media (max-width: 1024px) {
    .c-footer_links-in {
      text-align: center;
      padding: 1rem 0; } }
  @media (min-width: 1025px) {
    .c-footer_links-in {
      padding: 0 3rem 1rem 3rem; } }

.c-ftr_ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.c-ftr_li a {
  text-decoration: none;
  color: #f7f7f7; }
.c-ftr_li a:hover {
  color: #5bb798; }

.c-footer_links-out {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center; }
  .c-footer_links-out a {
    margin: 0;
    padding: 0; }
  @media (max-width: 1024px) {
    .c-footer_links-out {
      padding: 1rem 0; } }
  @media (min-width: 1025px) {
    .c-footer_links-out {
      padding: 2rem; } }

.c-ftr_links-out_img {
  /*width: 2rem;
  height: auto;*/
  padding: 0 1rem;
  margin: 0;
  font-size: 2rem;
  color: #797571; }

#c-logo-fb:hover {
  color: #4367af; }

#c-logo-yt:hover {
  color: #e52320; }

/*# sourceMappingURL=main.css.map */
