@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Roboto:300,400,400i,500,700,900&subset=latin-ext");
/*$color-footer-line: #5d5853;*/
body {
  padding: 0;
  margin: 0;
  font-family: "Baloo Bhaijaan", cursive; }

@media (max-width: 1024px) {
  .c-tablet-hide {
    display: none !important; } }
@media (min-width: 1025px) {
  .c-desktop-hide {
    display: none !important; } }
#c-bcg-left, #c-bcg-right {
  position: absolute;
  z-index: 1;
  width: 35%; }
  @media (max-width: 650px) {
    #c-bcg-left, #c-bcg-right {
      display: none; } }

#c-bcg-left {
  left: 0;
  top: 27rem; }

#c-bcg-right {
  right: 0;
  top: 18rem; }

.c-header {
  position: relative;
  z-index: 997;
  box-sizing: border-box; }
  .c-header ul {
    list-style-type: none; }
    .c-header ul li a {
      text-decoration: none; }
  @media (max-width: 1024px) {
    .c-header {
      margin: 0 1rem; } }
  @media (min-width: 1025px) {
    .c-header {
      width: calc(100% - (1.5rem * 2));
      margin: 0 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #d7d7d7; } }

@media (max-width: 1024px) {
  .c-dropdown_arrow {
    color: #312b25;
    text-decoration: none; } }

@media (max-width: 1024px) {
  .c-nav_mob {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-bottom: 1px solid #d7d7d7; } }

/*  LOGO and NAME  */
.c-header_brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #312b25; }

.c-brand_logo {
  height: 5rem; }

.c-brand_name {
  margin: 0;
  font-size: 2.4rem;
  font-weight: normal;
  letter-spacing: 2px; }
  @media (max-width: 1024px) {
    .c-brand_name {
      padding: 0; } }
  @media (min-width: 1025px) {
    .c-brand_name {
      padding: 0 1.5rem; } }

/*  COUNTERS  */
.c-header_counters {
  display: flex;
  margin: 0; }
  @media (max-width: 1024px) {
    .c-header_counters {
      justify-content: center;
      border-bottom: 1px solid #d7d7d7; } }
  @media (min-width: 1025px) {
    .c-header_counters {
      flex-wrap: wrap;
      padding: 1.5rem;
      border-left: 1px solid #d7d7d7;
      border-right: 1px solid #d7d7d7; } }
  @media (max-width: 423px) {
    .c-header_counters {
      display: none; } }

.c-counters_ul {
  margin: 0; }
  @media (max-width: 1024px) {
    .c-counters_ul {
      padding: 1.5rem; } }
  @media (min-width: 1025px) {
    .c-counters_ul {
      padding: 0 1.5rem; } }

.c-counter_li {
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 2px; }

@media (min-width: 1025px) and (max-width: 1241px) {
  #c-count-li_help {
    padding-top: 0.5rem; } }

.c-counter_name {
  color: #5bb798;
  font-size: 0.8rem; }

.c-counter_value {
  color: #312b25;
  font-size: 1.65rem; }

/*  NAVIGATION  */
.c-header_nav {
  display: flex;
  font-size: 1.1rem;
  font-weight: normal; }

.c-nav_ul {
  display: inline-flex;
  padding: 0;
  margin: 0; }

.c-nav_item {
  color: #5bb798;
  letter-spacing: 2px;
  line-height: 1.5;
  padding: 2rem; }

.c-nav_item:hover {
  color: #347861; }

.c-content {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 999; }

.c-content_doctor {
  display: inline-block;
  text-decoration: none;
  color: #8d8d8d;
  background-color: #f7f7f7;
  font-size: 0.9rem;
  letter-spacing: 2px;
  line-height: 1.5;
  padding: 0.7rem 1rem;
  z-index: 3; }
  @media (max-width: 1024px) {
    .c-content_doctor {
      text-align: center;
      margin: 0 1rem; } }
  @media (min-width: 1025px) {
    .c-content_doctor {
      margin-left: 4%;
      margin-right: auto; } }

.c-content_intro {
  display: flex;
  justify-content: center;
  width: 100%; }
  @media (max-width: 1024px) {
    .c-content_intro {
      flex-direction: column; } }
  @media (min-width: 1025px) {
    .c-content_intro {
      flex-direction: row; } }

.c-intro_logo {
  height: auto;
  z-index: 2;
  /* background-image: url("../img/hp-green.svg");
   background-repeat: no-repeat;
   background-size: 100%;
   background-position-y: top;
   background-position-x: -15%;*/ }
  @media (max-width: 1024px) {
    .c-intro_logo {
      margin: auto;
      max-width: 20rem; } }
  @media (min-width: 1025px) {
    .c-intro_logo {
      width: 25rem; } }

.c-intro_logo-bcg {
  position: absolute;
  left: 0;
  height: auto;
  z-index: 1; }
  @media (min-width: 1901px) {
    .c-intro_logo-bcg {
      display: none; } }
  @media (min-width: 1667px) and (max-width: 1900px) {
    .c-intro_logo-bcg {
      width: 32%;
      top: 0; } }
  @media (min-width: 1521px) and (max-width: 1666px) {
    .c-intro_logo-bcg {
      width: 34%;
      top: 1rem; } }
  @media (min-width: 1341px) and (max-width: 1520px) {
    .c-intro_logo-bcg {
      width: 36%;
      top: 3rem; } }
  @media (min-width: 1242px) and (max-width: 1340px) {
    .c-intro_logo-bcg {
      width: 35%;
      top: 5rem; } }
  @media (min-width: 1160px) and (max-width: 1241px) {
    .c-intro_logo-bcg {
      width: 38%;
      top: 5rem; } }
  @media (min-width: 1046px) and (max-width: 1159px) {
    .c-intro_logo-bcg {
      width: 40%;
      top: 7rem; } }
  @media (min-width: 1024px) and (max-width: 1045px) {
    .c-intro_logo-bcg {
      width: 40%;
      top: 10rem; } }
  @media (min-width: 678px) and (max-width: 1023px) {
    .c-intro_logo-bcg {
      display: none; } }
  @media (min-width: 580px) and (max-width: 676px) {
    .c-intro_logo-bcg {
      width: 70%;
      top: 0; } }
  @media (min-width: 551px) and (max-width: 579px) {
    .c-intro_logo-bcg {
      width: 73%;
      top: 3rem; } }
  @media (min-width: 456px) and (max-width: 550px) {
    .c-intro_logo-bcg {
      width: 80%;
      top: 3rem; } }
  @media (min-width: 401px) and (max-width: 455px) {
    .c-intro_logo-bcg {
      width: 80%;
      top: 6rem; } }
  @media (min-width: 331px) and (max-width: 400px) {
    .c-intro_logo-bcg {
      width: 90%;
      top: 6rem; } }
  @media (min-width: 269px) and (max-width: 330px) {
    .c-intro_logo-bcg {
      width: 90%;
      top: 9rem; } }
  @media (max-width: 268px) {
    .c-intro_logo-bcg {
      width: 90%;
      top: 10rem; } }

.c-intro_logo-bcg-circle {
  position: absolute;
  height: auto;
  z-index: 1;
  margin: auto; }
  @media (min-width: 1901px) {
    .c-intro_logo-bcg-circle {
      width: 18rem;
      left: 22rem;
      top: 7rem; } }
  @media (min-width: 1024px) and (max-width: 1901px) {
    .c-intro_logo-bcg-circle {
      display: none; } }
  @media (min-width: 678px) and (max-width: 1023px) {
    .c-intro_logo-bcg-circle {
      width: 15rem;
      left: 0;
      right: 0;
      top: 5rem; } }
  @media (max-width: 679px) {
    .c-intro_logo-bcg-circle {
      display: none; } }

.c-intro_desc {
  text-align: center; }
  @media (max-width: 1024px) {
    .c-intro_desc {
      padding: 0 1.5rem; } }
  @media (min-width: 1025px) {
    .c-intro_desc {
      width: 50%;
      padding-left: 2rem; } }

.c-desc-text {
  letter-spacing: 2px;
  line-height: 1.5; }
  @media (max-width: 1024px) {
    .c-desc-text {
      margin: 0;
      padding: 0.5rem 0 2rem 0;
      font-size: 1.6rem; } }
  @media (min-width: 1025px) {
    .c-desc-text {
      font-size: 2.5rem; } }
  @media (max-width: 430px) {
    .c-desc-text {
      font-size: 1.3rem; } }

.c-desc-btn {
  font-family: "Baloo Bhaijaan", cursive;
  color: #f7f7f7;
  background-color: #5bb798;
  letter-spacing: 2px;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: none;
  /*border-radius: 50px;*/
  border-top-left-radius: 10% 50%;
  border-top-right-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%; }
  @media (max-width: 1024px) {
    .c-desc-btn {
      font-size: 1.2rem;
      padding: 1rem 2rem; } }
  @media (min-width: 1025px) {
    .c-desc-btn {
      font-size: 1.6rem;
      padding: 1rem 3rem; } }
  @media (max-width: 318px) {
    .c-desc-btn {
      font-size: 1rem;
      padding: 1rem 1.5rem; } }

.c-desc-btn:hover {
  background-color: #347861;
  outline: none; }

.c-desc-btn:active {
  outline: none; }

.c-desc-btn:focus {
  outline: none; }

.c-footer {
  background-color: #312b25;
  color: #f7f7f7;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  padding: 0 1rem;
  line-height: 2;
  position: relative;
  z-index: 998; }
  .c-footer h3 {
    font-family: "Baloo Bhaijaan", cursive;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 0.5rem; }
  @media (max-width: 1024px) {
    .c-footer {
      margin-top: 3rem; } }
  @media (min-width: 1025px) {
    .c-footer {
      margin-top: 4rem; } }

.c-footer_in {
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid #797571; }
  @media (max-width: 1024px) {
    .c-footer_in {
      flex-direction: column; } }
  @media (min-width: 1025px) {
    .c-footer_in {
      flex-direction: row;
      padding-top: 2rem; } }

.c-footer_desc {
  box-sizing: border-box; }
  @media (max-width: 1024px) {
    .c-footer_desc {
      text-align: center;
      border-bottom: 1px solid #797571;
      padding: 1rem 0; } }
  @media (min-width: 1025px) {
    .c-footer_desc {
      padding: 0 3rem 1rem 3rem;
      max-width: 24rem; } }

.c-ftr-desc_text {
  margin: 0; }

.c-footer_insta {
  box-sizing: border-box; }
  @media (max-width: 1024px) {
    .c-footer_insta {
      text-align: center;
      border-bottom: 1px solid #797571;
      padding: 1rem 0; } }
  @media (min-width: 1025px) {
    .c-footer_insta {
      border-left: 1px solid #797571;
      border-right: 1px solid #797571;
      padding: 0 3rem 1rem 3rem;
      max-width: 24.4rem; } }

.c-ftr_line-height-padding {
  padding-bottom: 0.5rem; }

.c-footer_links-in {
  box-sizing: border-box; }
  @media (max-width: 1024px) {
    .c-footer_links-in {
      text-align: center;
      padding: 1rem 0; } }
  @media (min-width: 1025px) {
    .c-footer_links-in {
      padding: 0 3rem 1rem 3rem; } }

.c-ftr_ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.c-ftr_li a {
  text-decoration: none;
  color: #f7f7f7; }
.c-ftr_li a:hover {
  color: #5bb798; }

.c-footer_links-out {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center; }
  .c-footer_links-out a {
    margin: 0;
    padding: 0; }
  @media (max-width: 1024px) {
    .c-footer_links-out {
      padding: 1rem 0; } }
  @media (min-width: 1025px) {
    .c-footer_links-out {
      padding: 1.5rem 1.5rem 1rem 1.5rem; } }

.c-ftr_links-out_img {
  padding: 0 1rem;
  margin: 0;
  font-size: 2rem;
  color: #797571; }

#c-logo-fb:hover {
  color: #4367af; }

#c-logo-yt:hover {
  color: #e52320; }

.c-buygift {
  display: flex;
  /* border: 1px solid $color-primary;
   border-top-left-radius: 10% 50%;   //same as in content
   border-top-right-radius: 10% 50%;
   border-bottom-right-radius: 10% 50%;
   border-bottom-left-radius: 10% 50%;*/ }
  @media (max-width: 475px) {
    .c-buygift {
      width: 100%;
      margin: 2rem 0; } }
  @media (min-width: 476px) {
    .c-buygift {
      margin: 2rem auto; } }
  @media (max-width: 324px) {
    .c-buygift {
      flex-direction: column; } }
  @media (min-width: 325px) {
    .c-buygift {
      flex-direction: row; } }

.c-buygift_buy, .c-buygift_gift {
  display: block;
  font-family: "Baloo Bhaijaan", cursive;
  border: 1px solid #5bb798;
  cursor: pointer; }
  @media (max-width: 475px) {
    .c-buygift_buy, .c-buygift_gift {
      width: 100%;
      font-size: 0.9rem;
      letter-spacing: 1px;
      padding: 0.5rem 1rem; } }
  @media (min-width: 476px) {
    .c-buygift_buy, .c-buygift_gift {
      font-size: 1.1rem;
      letter-spacing: 2px;
      padding: 0.5rem 2rem; } }

.c-buygift_buy:hover {
  background-color: #347861;
  outline: none; }

.c-buygift_buy:active, .c-buygift_gift:active {
  outline: none; }

.c-buygift_buy:focus, .c-buygift_gift:focus {
  outline: none; }

.c-buygift_buy {
  background-color: #5bb798;
  color: #f7f7f7;
  border-right: none; }
  @media (min-width: 476px) {
    .c-buygift_buy {
      border-top-left-radius: 10% 50%;
      border-bottom-left-radius: 10% 50%; } }

.c-buygift_gift {
  background-color: #f1f1f1;
  color: #5bb798;
  border-left: none; }
  @media (max-width: 475px) {
    .c-buygift_gift {
      border-right: none; } }
  @media (min-width: 476px) {
    .c-buygift_gift {
      border-top-right-radius: 10% 50%;
      border-bottom-right-radius: 10% 50%; } }

.c-buygift_gift:hover {
  background-color: #e4e4e4;
  outline: none; }

.c-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: #f7f7f7;
  box-shadow: 0 0 15px #cecece; }
  @media (max-width: 650px) {
    .c-form {
      width: 100%;
      margin: 0; } }
  @media (min-width: 651px) {
    .c-form {
      margin: auto;
      width: auto; } }

@media (min-width: 424px) and (max-width: 650px) {
  .c-form_container {
    padding: 2rem 2rem 2rem 2rem; } }
@media (max-width: 423px) {
  .c-form_container {
    padding: 2rem 1rem 2rem 1rem; } }
@media (min-width: 651px) {
  .c-form_container {
    padding: 4rem 2rem 2rem 2rem; } }

.c-form_user {
  display: flex;
  width: 100%;
  justify-content: center; }
  @media (max-width: 475px) {
    .c-form_user {
      flex-direction: column; } }
  @media (min-width: 476px) {
    .c-form_user {
      flex-direction: row; } }

.c-form-user_label-input {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 1rem 1rem 1rem; }

.c-form_label {
  padding-bottom: 0.5rem;
  color: #757575; }

.c-form_input {
  border-radius: 3px;
  border: 1px solid #d6d6d6;
  padding: 0.5rem;
  font-family: "Roboto", sans-serif; }

.c-form_input:hover {
  border-color: #5bb798;
  outline: none; }

.c-form_input:active {
  border-color: #5bb798;
  outline: none; }

.c-form_input:focus {
  border-color: #5bb798;
  outline: none; }

.c-form_animal {
  padding: 2rem 0 1rem 0; }

.c-form_icon-dog {
  color: #5bb798; }

.c-form-label_zvire {
  padding: 0 0.5rem; }

.c-form_price {
  padding: 2rem 1rem 0 1rem;
  margin: 0;
  font-family: "Baloo Bhaijaan", cursive; }

#zvire {
  border: none;
  border-bottom: 2px solid #bababa;
  border-radius: 0;
  padding: 0.5rem 0.2rem 0.2rem 0.2rem;
  background-color: transparent; }
  @media (max-width: 340px) {
    #zvire {
      text-align: center; } }

.c-form-price_nmbr {
  color: #5bb798;
  background-image: url("../img/ticket.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0.1rem 1rem; }

.c-form_end {
  border-top: 1px dotted #bababa;
  padding: 1.5rem 2rem 1.5rem 2rem; }

.c-form-end_donate {
  background-color: #5bb798;
  color: #f7f7f7;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  font-family: "Baloo Bhaijaan", cursive;
  font-size: 1.1rem;
  letter-spacing: 2px;
  border-radius: 5px;
  /*border-top-left-radius: 10% 50%;   //same as in content
  border-top-right-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;*/ }

.c-form-end_donate:hover {
  background-color: #347861;
  outline: none; }

.c-form-end_donate:active {
  outline: none; }

.c-form-end_info1, .c-form-end_info2 {
  margin: 0;
  font-size: 0.75rem;
  color: #8d8d8d; }

@media (min-width: 308px) {
  .c-form-end_info1 {
    padding: 1.5rem 1rem 0.2rem 1rem; } }
@media (max-width: 307px) {
  .c-form-end_info1 {
    padding: 1.5rem 0 0.2rem 0; } }

/*# sourceMappingURL=main.css.map */
