

/* --- MAIN STORY --- */

$content-width: 70rem;

.c-content_mainstory{
  box-sizing: border-box;
  margin: 8rem 0 3rem 0;
  background-color: $color-primary;
  background-image: url("../img/dog-on-leash2.png");
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px transparentize(#000000, 0.7);  //cover background with transparent black
  height: auto;
  min-height: 30rem;
  align-self: center;

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem;
  @media (min-width: $desktop+1px){
    width: $content-width;
  }
  @media (max-width: $desktop){
    width: 100%;
  }
}

.c-mainstory_content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 35rem;
  padding: 0 3rem;
}

.c-content-stories_heading{
  background-color: $color-white;
  font-family: $font-secondary;
  color: $color-black;
  border-radius: 0 0 2% 2% / 0 0 2% 2%;
  font-weight: normal;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0 auto;
}

.c-mainstory_heading{
  background: $color-white;
  color: $color-black;
  padding: 0.25rem 0.5rem;
  font-family: $font-secondary;
  font-weight: normal;
  letter-spacing: 1px;
  display: inline-block;
  margin: 0 auto;
  @media (max-width: 500px){
    margin: 2rem auto;
  }
}

.c-mainstory_text{
  color: $color-white;
  font-family: $font-main-thick;
  margin: 0 auto 2rem auto;
}

.c-mainstory-text_p{
  margin-bottom: 4rem;
  line-height: 1.5;
}

.c-mainstory-arrow_a{
  font-size: 3rem;
  font-weight: 100;
  color: transparentize($color-white, 0.5);
  align-self: center;
}

.c-mainstory-arrow_a:hover{
  color: $color-white;
}

.c-mainstory_more{
  text-decoration: none;
  color: $color-white;
  font-family: $font-main-thick;
}

.c-mainstory_more:hover{
  text-decoration: underline;
}




/* --- STORIES --- */

.c-stories{
  margin: 3rem auto 2rem auto;
  text-align: center;

  @media (min-width: $desktop+1px){
    max-width: $content-width;
    /* different heights */
    column-count: 3;
    column-gap: 3.6rem;

    /* same heights */
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;*/
  }
  @media (min-width: 801px) and (max-width: $desktop){
    max-width: 45rem;
    column-count: 2;
    column-gap: 2.6rem;
    text-align: center;
  }
  @media (max-width: 800px){
    display: flex;
    flex-direction: column;
  }
}




$story-width: 21rem;

.c-content_story{
  display: inline-block;
  background-color: $color-white;
  color: $color-black;
  box-shadow: 0 0 15px $color-shadow;
  text-align: center;
  padding-bottom: 1rem;
  img{
    object-fit: cover;
    position: center;
  }
  p{
    padding: 1rem 2rem;
    margin: 0;
    font-family: $font-main-thick;
    line-height: 1.4;
  }
  @media (min-width: 801px){
    margin: 1rem 0 2.6rem 0;
    width: $story-width;
    img{
      width: $story-width;    //aspect ratio is 3:2 (normal photo size)
      height: 14rem;
    }
  }
  @media (max-width: 800px){
    width: 100%;
    margin: 1.5rem 0;
    img{
      width: 100%;
      height: 20rem;
    }
  }
}

.c-story_heading{
  font-family: $font-secondary;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0;
  padding: 1rem 2rem;
}

.c-story_more{
  color: $color-primary;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: 1rem 0;
}
.c-story_more:hover{
  text-decoration: underline;
  background-color: transparentize($color-primary, 0.9);
}



/* FIRST AID */

.c-box_firstaid{
  box-shadow: 0 0 15px $color-shadow;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 4rem auto;
  padding: 2rem 3rem;
  text-decoration: none;
  color: $color-black;
  img{
    width: 3rem;
    height: auto;
  }
  div{
    margin: 0 3rem;
  }
  h3{
    color: $color-help-red;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: $font-secondary;
    letter-spacing: 1.5px;
  }
  i{
    color: $color-help-red;
    font-size: 1.5rem;
  }
  p{
    font-family: $font-main-thick;
    margin: 0;
    padding: 0;
  }
}
.c-box_firstaid:hover{
  box-shadow: 0 0 15px transparentize($color-help-red, 0.5);
}



/*  MEETINGS  */

.c-meet{
  margin: 2rem auto;
  padding: 0;
  h2{
    text-align: center;
    letter-spacing: 2px;
  }
}

.c-meet_meetings{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  @media (max-width: 800px){
    justify-content: left;
  }
}

.c-meet_meeting{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: $font-main-thick;
  margin: 1rem;
  padding: 0.5rem 1rem;
}

.c-meeting_date{
  background-color: $color-primary;
  color: $color-white;
  border-radius: 10px;
  letter-spacing: 1.5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5rem 1rem;
  margin: 0 1rem 0 0;
}

.c-meeting-date-day{
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.c-meeting-date-year{
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.c-meeting_info{
  margin: 0;
  padding: 0;
}

.c-meeting-info_name{
  font-family: $font-secondary;
  letter-spacing: 1px;
  color: $color-black;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.c-meeting-info_place{
  color: $color-primary;
  font-size: 1rem;
  margin: 1.3rem 0 1rem 0;
  padding: 0;
  line-height: 0;
}

.c-meeting-info_detail{
  color: $color-doc-text;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-family: $font-main;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  line-height: 0;
}



/* PARTNERS */

.c-partners{
  margin: 2rem auto;
  padding: 2rem 0;
  background-color: $color-light;
  width: 100%;
  h2{
    text-align: center;
    letter-spacing: 2px;
  }
}

.c-partners_logos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: $content-width;
  img{
    margin: 2rem;
  }
}