

//screens
$mobile:  650px;
$tablet:  1100px; //1024px;
$desktop: 1320px;
$wide:    1400px;


//fonts
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Roboto:300,400,400i,500,700,900&subset=latin-ext');
$font-main: "Roboto Black", sans-serif;
$font-main-thick: "Roboto", sans-serif;
$font-secondary: "Baloo Bhaijaan", cursive;

$baloo-letter-spacing: 2px;

//font sizes
$inuit-font-size-h1:  36px !default;
$inuit-font-size-h2:  28px !default;
$inuit-font-size-h3:  24px !default;
$inuit-font-size-h4:  20px !default;
$inuit-font-size-h5:  18px !default;
$inuit-font-size-h6:  16px !default;


//colors
$color-primary:        #5bb798;
$color-primary-light:  rgb(219, 241, 233);
$color-black:          #312b25;
$color-gray:           rgb(141, 141, 141);
$color-lightgray:      rgb(215, 215, 215);
$color-light:          rgb(247, 247, 247);
$color-white:          #ffffff;

$color-doc-text: #8d8d8d;
$color-doc-bcg: #f7f7f7;

$color-footer-bcg: #312b25;
/*$color-footer-line: #5d5853;*/
$color-footer-line: #797571;
$color-facebook: #4367af;
$color-youtube: #e52320;

$color-primary-hover: darken($color-primary, 20);

$color-form-text: #757575;
$color-form-line: #bababa;
$color-shadow: #cecece;
$color-btn-gift-bcg: #f1f1f1;

$color-bread-gray: #696969;

/* alerts */
$color-success-bcg: #dff0d8;
$color-danger-bcg: #f2dede;
$color-warning-bcg: #fcf8e3;
$color-info-bcg: #d9edf7;

$color-success-text: #3c763d;
$color-danger-text: #a94442;
$color-warning-text: #8a6d3b;
$color-info-text: #31708f;

$color-success-line: #d6e9c6;
$color-danger-line: #f2dede;
$color-warning-line: #faebcc;
$color-info-line: #bce8f1;

$color-help-red: #e31317;



//code
body{
  padding: 0;
  margin: 0;
  font-family: $font-secondary;
}

@media (max-width: $tablet){
  .c-tablet-hide{
    display: none !important;
  }
}
@media (min-width: $tablet+1px){
  .c-desktop-hide{
    display: none !important;
  }
}
@media (max-width: 300px){
  .c-tiny-hide{
    display: none !important;
  }
}

.c-btn-primary{
  display: inline-block;
  font-family: $font-secondary;
  color: $color-light;
  background-color: $color-primary;
  border: none;
  border-radius: 10rem;
  //border-radius: 12% 12% 12% 12% / 50% 50% 50% 50%;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: normal;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  text-align: center;
  cursor: pointer;
  align-self: center;
  /*
  @media (max-width: $tablet){
}
  @media (min-width: $tablet+1px){
    font-size: 1.6rem;
    padding: 1rem 3rem;
  }
  @media (max-width: 318px){
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }*/
}

.c-btn-primary:hover{
  background-color: $color-primary-hover;
}
