

.c-header{
  position: relative;
  z-index: 997;
  ul{
    list-style-type: none;
    li a{
      text-decoration: none;
    }
  }
  box-sizing: border-box;
  @media (max-width: $tablet){
    margin: 0 1rem;
  }
  @media (min-width: $tablet+1px){
    width: calc(100% - (1.5rem * 2));
    margin: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-lightgray;
  }
}

.c-dropdown_arrow{
  @media (max-width: $tablet){
    color: $color-black;
    text-decoration: none;
  }
}
  .c-nav_mob{
    @media (max-width: $tablet){
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
      border-bottom: 1px solid $color-lightgray;
    }
  }

/*  LOGO and NAME  */
.c-header_brand{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $color-black;
}

.c-brand_logo{
  height: 5rem;
}

.c-brand_name{
  margin: 0;
  font-size: 2.4rem;
  font-weight: normal;
  letter-spacing: 2px;
  @media (max-width: $tablet){
    padding: 0;
  }
  @media (min-width: $tablet+1px){
    padding: 0 1.5rem;
  }
}


/*  COUNTERS  */
.c-header_counters{
  display: flex;
  margin: 0;
  @media (max-width: $tablet){
    justify-content: center;
    border-bottom: 1px solid $color-lightgray;
  }
  @media (min-width: $tablet+1px){
    flex-wrap: wrap;
    padding: 1.5rem;
    border-left: 1px solid $color-lightgray;
    border-right: 1px solid $color-lightgray;
  }
  /*@media (max-width: 423px){
    display: none;
  }*/
}

.c-counters_ul{
  margin: 0;
  @media (max-width: $tablet){
    padding: 1.5rem;
  }
  @media (min-width: $tablet+1px){
    padding: 0 1.5rem;
  }
}

.c-counter_li{
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 2px;
}

/*#c-count-li_help{
  @media (min-width: $tablet+1px) and (max-width: 1361px){
    padding-top: 0.5rem;
  }
}*/

.c-counter_name{    //li
  color: $color-primary;
  font-size: 0.8rem;
}

.c-counter_value{   //li
  color: $color-black;
  font-size: 1.65rem;
}


/*  NAVIGATION  */
.c-header_nav{
  display: flex;
  font-size: 1.1rem;
  font-weight: normal;
}

.c-nav_ul{
  display: inline-flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.c-nav_li{}

.c-nav_item{      //a
  color: $color-primary;
  letter-spacing: 2px;
  line-height: 1.5;
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

.c-nav_item:hover{
  color: $color-primary-hover;
}


/*  -- LANGUAGE --  */
.c-nav_language{
  width: 1.5rem;
  height: auto;
  padding: 0;
  margin: 0 0;
}
.c-nav_language:hover{}

.c-nav-item_user{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.c-nav-item-user_img{
  border-radius: 50%;
  width: 2rem;
  height: auto;
  margin-right: 0.7rem;
}


/* -- Submenu -- */
.c-nav_submenu{
  background: $color-primary-light;
  position: absolute;
  padding: 0;
  margin: 0.3rem 0 0 2rem;
  z-index: 20;
}

.c-nav-submenu_li{
  display: block;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  a{
    display: block;
    color: $color-primary;
    background: $color-primary-light;
    padding: 0.5rem 1rem;
    width: 100%;
    border-left: 1px solid lighten($color-primary, 30);
    border-right: 1px solid lighten($color-primary, 30);
  }
  a:hover{
    color: $color-primary-hover;
  }
}

.c-nav-submenu_first a{
  padding-top: 1rem;
  border-top: 1px solid lighten($color-primary, 30);
}
.c-nav-submenu_last a{
  padding-bottom: 1rem;
  border-bottom: 1px solid lighten($color-primary, 30);
}

.c-nav_ul ul{
  display: none;
}
.c-nav_ul li:hover ul{
  display: block;
}


/* --- MAIN STORY --- */

$content-width: 70rem;

.c-content_mainstory{
  box-sizing: border-box;
  margin: 8rem 0 3rem 0;
  background-color: $color-primary;
  background-image: url("../img/dog-on-leash2.png");
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px transparentize(#000000, 0.7);  //cover background with transparent black
  width: $content-width;
  height: 30rem;
  align-self: center;

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem;
}

.c-mainstory_content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 35rem;
}

.c-content-stories_heading{
  background-color: $color-white;
  font-family: $font-secondary;
  color: $color-black;
  border-radius: 0 0 2% 2% / 0 0 2% 2%;
  font-weight: normal;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0 auto;
}

.c-mainstory_heading{
  background: $color-white;
  color: $color-black;
  padding: 0.25rem 0.5rem;
  font-family: $font-secondary;
  font-weight: normal;
  letter-spacing: 1px;
  display: inline-block;
  margin: 0 auto;
}

.c-mainstory_text{
  color: $color-white;
  font-family: $font-main-thick;
  margin: 0 auto 2rem auto;
}

.c-mainstory-text_p{
  margin-bottom: 4rem;
  line-height: 1.5;
}

.c-mainstory-arrow_a{
  font-size: 3rem;
  font-weight: 100;
  color: transparentize($color-white, 0.5);
  align-self: center;
}

.c-mainstory-arrow_a:hover{
  color: $color-white;
}

.c-mainstory_more{
  text-decoration: none;
  color: $color-white;
  font-family: $font-main-thick;
}

.c-mainstory_more:hover{
  text-decoration: underline;
}




/* --- STORIES --- */

.c-stories{
  width: $content-width;
  margin: 3rem auto 2rem auto;

  /* different heights */
  column-count: 3;
  column-gap: 3.6rem;

  /* same heights */
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;*/
}

$story-width: 21rem;

.c-content_story{
  display: inline-block;
  background-color: $color-white;
  color: $color-black;
  box-shadow: 0 0 15px $color-shadow;
  width: $story-width;
  text-align: center;
  margin: 1rem 0 2.6rem 0;
  padding-bottom: 1rem;
  img{
    width: $story-width;    //aspect ratio is 3:2 (normal photo size)
    height: 14rem;
    object-fit: cover;
    position: center;
  }
  p{
    padding: 1rem 2rem;
    margin: 0;
    font-family: $font-main-thick;
    line-height: 1.4;
  }
}

.c-story_heading{
  font-family: $font-secondary;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0;
  padding: 1rem 2rem;
}

.c-story_more{
  color: $color-primary;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: 1rem 0;
}
.c-story_more:hover{
  text-decoration: underline;
  background-color: transparentize($color-primary, 0.9);
}

/* FIRST AID */
.c-box_firstaid{
  box-shadow: 0 0 15px $color-shadow;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 4rem auto;
  padding: 2rem 3rem;
  img{
    width: 3rem;
    height: auto;
  }
  div{
    margin: 0 3rem;
  }
  h3{
    color: $color-help-red;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: $font-secondary;
    letter-spacing: 1.5px;
  }
  i{
    color: $color-help-red;
    font-size: 1.5rem;
  }
  p{
    font-family: $font-main-thick;
    margin: 0;
    padding: 0;
  }
}