


/*  --- BREADCRUMBS NAVIGATION ---  */

.c-breadcrumbs_nav{
  display: flex;
  flex-direction: row;
  margin: 3rem auto 0 auto;
  align-items: baseline;
  a{
    text-decoration: none;
    cursor: pointer;
  }
  a:hover{
    text-decoration: underline;
  }
}

.c-breadcrumbs-nav_1st{
  font-size: 1rem;
  color: $color-black;
}

.c-breadcrumbs-nav_separator{
  margin: 0 0.5rem;
  font-size: 0.6rem;
}

.c-breadcrumbs-nav_lower{
  font-size: 0.8rem;
  color: $color-bread-gray;
}



/*  --- ARTICLE HEADER ---  */

.c-article_header{
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin: 1rem auto 0 auto;
  border-radius: 0.5rem;
  height: 15.5rem;
  @media (min-width: 700px){
    max-width: 42rem;
  }
  img{
    margin: 0;
    padding: 0;
    object-fit: cover;
    box-shadow: inset 0 0 0 1000px transparentize(#000000, 0.7);  //cover background with transparent black
    width: 100%;
    height: 15.5rem;
    @media (min-width: 700px){
      border-radius: 10px;
    }
  }
    p{
      font-family: $font-main-thick;
      color: $color-light;
      text-shadow: 1px 1px 5px black;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 1rem;
      left: 1rem;
    }
    h2{
      font-weight: normal;
      padding: 0.2rem 1rem;
      background: transparentize($color-light, 0.3);
      border-radius: 0.5rem;
      margin: 0 1rem 0 0 !important;
      position: absolute;
      bottom: 1rem;
      left: 1rem;
  }
}


/*.c-article_header{
  box-sizing: border-box;
  //background-image: url("../img/dog-on-leash.png");
  //background-repeat: no-repeat;
  //background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  height: 15.5rem;
  img{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    object-fit: cover;
    position: center;
    box-shadow: inset 0 0 0 1000px transparentize(#000000, 0.7);  //cover background with transparent black
    z-index: 400;
    width: 100%;
  }
  @media (max-width: 710px){
    margin: 2rem 0 1rem 0;
    border-radius: 0;
    background-position: center center;
  }
  @media (min-width: 711px){
    max-width: 44rem;
    margin: 3rem auto 2rem auto;
    border-radius: 0.5rem;
  }
  @media (max-width: 423px){
    justify-content: flex-end;
    align-items: center;
  }
  @media (min-width: 424px){
    justify-content: space-between;  //vertical (because of column)
    align-items: flex-start;    //horizontal (because of column)
  }
  p, h2{
    z-index: 500;
    position: absolute;
  }
  p{  //date
    font-family: $font-main-thick;
    color: $color-light;
    padding: 0;
    text-shadow: 1px 1px 5px black;
    @media (max-width: 423px){
      //margin: 0 0 1rem 0;
    }
    @media (min-width: 424px){
      //margin: 0;
    }
  }
  h2{
    font-weight: normal;
    padding: 0.2rem 1rem;
    margin: 12rem 0 0 1rem;
    //background: $color-light;
    background: transparentize($color-light, 0.3);

    @media (max-width: 423px){
      width: 100%;
      border-radius: 0;
      text-align: center;
    }
    @media (min-width: 424px){
      width: auto;
      border-radius: 0.5rem;
    }
  }
}*/


/*  --- ARTICLE CONTENT (TEXT) ---  */

.c-content_article{
  max-width: 40rem;     //if change you have to change also height in c--article_header
  margin: auto;
  padding: 0 2rem;
}

.c-article_text{
  font-family: $font-main-thick;
  text-align: center;
  p, h1, h2, h3, h4, h5{
    text-align: justify;
  }
  img{
    display: block;
    max-width: 100%;
    margin: auto;
    object-fit: contain;
  }
  h3, h4{
    font-family: $font-secondary;
    font-weight: normal;
  }
}

/* --- ABOUT HEADER ---*/
.c-article_box{
  font-family: $font-main-thick;
  background-color: $color-light;
  box-shadow: 0 0 15px $color-shadow;
  border-radius: 0.5rem;
  margin: 2rem auto;
  display: flex;
  @media (min-width: 770px){
    width: 44rem;
    flex-direction: row;
  }
  @media (max-width: 769px){
    width: 100%;
    flex-direction: column;
    text-align: center;
    background-image: url("../img/photos/7.jpg");
    background-size: cover;
  }
  div{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    @media (min-width: 770px){
      width: 65%;
    }
    @media (max-width: 769px){
      width: 100%;
    }
  }
  h2{
    font-family: $font-secondary;
    font-weight: normal;
    color: $color-primary;
    padding: 0;
    margin: 0;
    @media (max-width: 769px){
      background-color: $color-white;
      margin: 0 auto;
      padding: 0.5rem 1rem;
      border-radius: 10px;
    }
  }
  p{
    font-family: $font-main-thick;
    text-align: justify;
    @media (max-width: 769px){
      background-color: transparentize($color-white, 0.5);
      padding: 1rem;
    }
  }
  img{
    box-sizing: border-box;
    object-fit: cover;
    height: auto;
    @media (min-width: 770px){
      width: 35%;
      border-radius: 0 0.5rem 0.5rem 0;
    }
    @media (max-width: 769px){
      display: none;
      width: 100%;
      max-height: 15rem;
      margin: auto;
    }
    @media (max-width: 330px){
      max-height: 10rem;
    }
  }
}



