
.c-footer{
  background-color: $color-footer-bcg;
  color: $color-light;
}

.c-footer_desc{}

.c-ftr-desc_text{}

.c-footer_insta{}

.c-ftr-insta_img{}

.c-footer_links-in{}

.c-ftr_ul{}

.c-ftr_li{}

.c-footer_links-out{}

.c-ftr_links-out_img{
  width: 2rem;
  height: auto;
}

