
.c-content_bcg{
  z-index: 1;
}


#c-bcg-left, #c-bcg-right{
  position: absolute;
  width: 35%;
  @media (max-width: $mobile){
    display: none;
  }
}

#c-bcg-left{
  left: 0;
  top: 27rem;
}

#c-bcg-right{
  right: 0;
  top: 18rem;
}