
.c-form_warning{
  margin: 0 0 3rem 1rem;
  padding: 0;
  text-align: left;
  color: $color-danger-text;
  display: flex;
  flex-wrap: wrap;
  max-width: 25rem;
}


.c-buygift{
  display: flex;
  text-decoration: none;
 /* border: 1px solid $color-primary;
  border-top-left-radius: 10% 50%;   //same as in content
  border-top-right-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;*/

  @media (max-width: 475px){
    width: 100%;
    margin: 2rem 0;
  }
  @media (min-width: 476px){
    margin: 2rem auto;
  }
  @media (max-width: 324px){
    flex-direction: column;
  }
  @media (min-width: 325px){
    flex-direction: row;
  }
}

.c-buygift_buy, .c-buygift_gift{
  display: block;
  font-family: $font-secondary;
  border: 1px solid $color-primary;
  cursor: pointer;
  text-decoration: none;
  @media (max-width: 475px){
    width: 100%;
    font-size: 0.9rem;
    letter-spacing: 1px;
    padding: 0.5rem 1rem;
  }
  @media (min-width: 476px){
    font-size: 1.1rem;
    letter-spacing: $baloo-letter-spacing;
    padding: 0.5rem 2rem;
  }
}

.c-buygift_buy:hover{
  background-color: darken($color-btn-gift-bcg, 5);
  outline: none;
}
.c-buygift_buy:active, .c-buygift_gift:active{
  outline: none;
}
.c-buygift_buy:focus, .c-buygift_gift:focus{
  outline: none;
}

.c-buygift_buy{
  background-color: $color-btn-gift-bcg;
  color: $color-primary;
  border-right: none;
  @media (min-width: 476px){
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
  }
}

.c-buygift_gift{
  background-color: $color-btn-gift-bcg;
  color: $color-primary;
  border-left: none;
  @media (max-width: 475px){
    border-right: none;
  }
  @media (min-width: 476px){
    border-top-right-radius: 10% 50%;
    border-bottom-right-radius: 10% 50%;
  }
}
.c-buygift_gift:hover{
  background-color: darken($color-btn-gift-bcg, 5);
  outline: none;
}

.c-buygift-active{
  background-color: $color-primary;
  color: $color-light;
  text-decoration: none;
}
.c-buygift-active:hover{
  background-color: $color-primary-hover;
}


.c-form{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: $font-main-thick;
  background-color: $color-light;
  box-shadow: 0 0 15px $color-shadow;
  @media (max-width: $mobile){
    width: 100%;
    margin: 0;
  }
  @media (min-width: $mobile+1px){
    margin: auto;
    width: auto;
  }
}

.c-form_container{
  @media (min-width: 424px) and (max-width: $mobile){
    padding: 2rem 2rem 2rem 2rem;
  }
  @media (max-width: 423px){
    padding: 2rem 1rem 2rem 1rem;
  }
  @media (min-width: $mobile+1px){
    padding: 4rem 2rem 2rem 2rem;
  }
}

.c-form_user{
  display: flex;
  width: 100%;
  justify-content: center;
  @media (max-width: 475px){
    flex-direction: column;
  }
  @media (min-width: 476px){
    flex-direction: row;
  }
}

.c-form-user_label-input{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 1rem 1rem 1rem;
}

.c-form_label{
  padding-bottom: 0.5rem;
  color: $color-form-text;
}

.c-form_input{
  border-radius: 3px;
  border: 1px solid #d6d6d6;
  padding: 0.5rem;
  font-family: $font-main-thick;
}
.c-form_input:hover{
  border-color: $color-primary;
  outline: none;
}
.c-form_input:active{
  border-color: $color-primary;
  outline: none;
}
.c-form_input:focus{
  border-color: $color-primary;
  outline: none;
}

.c-form_animal{
  padding: 2rem 0 1rem 0;
}

.c-form_icon-dog{
  color: $color-primary;
}

.c-form-label_zvire{
  padding: 0 0.5rem;
}

.c-form_price{
  padding: 2rem 1rem 0 1rem;
  font-family: $font-secondary;
}

#zvire{
  border: none;
  border-bottom: 2px solid $color-form-line;
  border-radius: 0;
  padding: 0.5rem 0.2rem 0.2rem 0.2rem;
  background-color: transparent;
  @media (max-width: 340px){
    text-align: center;
  }
}

.c-form-price_nmbr{
  color: $color-primary;
  font-family: $font-secondary;
  font-size: 1rem;
  /*//background-color: $color-black;
  background-image: url("../img/ticket.svg");
  background-repeat: no-repeat;
  background-position: center;*/
  //padding: 0.1rem 1rem;
  background: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid $color-black;
  border-left: none;
  margin: 0 1rem;
  padding: 0;
  text-align: center;
  width: 5rem;
}


.c-form_end{
  border-top: 1px dotted $color-form-line;
  padding: 1.5rem 2rem 1.5rem 2rem;
}

.c-form-end_donate{
  background-color: $color-primary;
  color: $color-light;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  font-family: $font-secondary;
  font-size: 1.1rem;
  letter-spacing: $baloo-letter-spacing;
  border-radius: 5px;
  cursor: pointer;
  /*border-top-left-radius: 10% 50%;   //same as in content
  border-top-right-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;*/
}
.c-form-end_donate:hover{
  background-color: $color-primary-hover;
  outline: none;
}
.c-form-end_donate:active{
  outline: none;
}
.c-form-end_donate:focus{
  outline: none;
}

.c-form-end_info1, .c-form-end_info2{
  margin: 0;
  font-size: 0.75rem;
  color: $color-gray;
}

.c-form-end_info1{
  @media (min-width: 308px){
    padding: 1.5rem 1rem 0.2rem 1rem;
  }
  @media (max-width: 307px){
    padding: 1.5rem 0 0.2rem 0;
  }
}

.c-form-end_info2{}


/* --- FORM general ---*/
.c-form-gen{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: $font-main-thick;
  background-color: $color-light;
  box-shadow: 0 0 15px $color-shadow;
  margin: 2rem auto;
  padding: 2rem 3rem;
  width: 30rem;
  @media (max-width: $mobile){
    width: 100%;
  }
  label{
    font-family: $font-main-thick;
    padding-bottom: 0.5rem;
    color: $color-form-text;
  }
  input, textarea{
    border-radius: 3px;
    border: 1px solid #d6d6d6;
    font-family: $font-main-thick;
    padding: 0.5rem;
    margin: 0 0 1rem 0;
  }
  input:hover, input:active, input:focus,
  textarea:hover, textarea:active, textarea:focus{
    border-color: $color-primary;
    outline: none;
  }
}

.c-form-gen_btn{
  background-color: $color-primary;
  color: $color-light;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  font-family: $font-secondary;
  font-size: 1.1rem;
  letter-spacing: $baloo-letter-spacing;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  margin: 1rem auto 0 auto;
  text-decoration: none;
}

.c-form-gen_btn:hover{
  background-color: $color-primary-hover;
  outline: none;
}

.c-form-gen_btn:active, .c-form-gen_btn:focus{
  outline: none;
}


.c-form-gen_heading{
  margin: 0 0 2rem 0;
  padding: 0;
  font-family: $font-secondary;
  color: $color-primary;
  font-weight: 200;
  letter-spacing: 2px;
}

.c-form-gen-input{
  display: flex;
  flex-direction: column;
}

.c-form-gen-inputs_row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  .c-form-gen-input{
    min-width: 10rem;
    @media (max-width: 450px){
      width: 100%;
      margin: 0;
    }
    @media (min-width: 451px){
      margin: 0 2rem 0 0;
      width: calc(50% - 1rem);
    }
  }

  .c-form-gen-input:nth-child(even){
    margin: 0;
  }
}

.c-form-gen-input_short{
  display: flex;
  flex-direction: column;
  @media (min-width: 451px){
    align-self: flex-start;
  }
  @media (min-width: 451px) and (max-width: $mobile){
    width: calc(50% - 1rem);
  }
  @media (max-width: 450px){
  width: 100%;
}
}

.c-form-gen-textarea{
  display: flex;
  flex-direction: column;
  textarea{
    height: 5rem;
    resize: vertical;
  }
}
