@media (max-width: $tablet){
  .c-tablet-hide{
    display: none !important;
  }
}
@media (min-width: $tablet+1px){
  .c-desktop-hide{
    display: none !important;
  }
}
.c-content{
  display: flex;
  flex-direction: column;
}

.c-content_doctor{
  display: inline-block;
  text-decoration: none;
  color: $color-doc-text;
  background-color: $color-doc-bcg;
  font-size: 0.9rem;
  letter-spacing: 2px;
  line-height: 1.5;
  padding: 0.7rem 1rem;
  margin-left: 4rem;    //dodělat, aby nebyl široký přes celou obrazovku
  z-index: 3;         //which element is below/on top (1 - below, 999 - on top)
}

.c-content_intro{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.c-intro_logo{
  width: 25rem;
  height: auto;
  z-index: 2;

 /* background-image: url("../img/hp-green.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: top;
  background-position-x: -15%;*/
}

.c-intro_logo-bcg{
  position: absolute;
  left: 0;
  top: 7rem;
  width: 40%;
  height: auto;
  z-index: 1;
}

.c-intro_desc{
  width: 50%;
  text-align: center;
  padding-right: 2rem;
}

.c-desc-text{
  font-size: 2.5rem;
  letter-spacing: 2px;
  line-height: 1.5;
}

.c-desc-btn{
  font-family: $font-secondary;
  font-size: 1.6rem;
  color: $color-light;
  background-color: $color-primary;
  letter-spacing: 2px;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 3rem;
  cursor: pointer;
  border: none;
  /*border-radius: 50px;*/
  border-top-left-radius: 10% 50%;
  border-top-right-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}

.c-desc-btn:hover{
  background-color: $color-primary-hover;
}