
.c-box{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: $font-main-thick;
  background-color: $color-white;
  box-shadow: 0 0 15px $color-shadow;
  @media (max-width: $mobile){
    margin: 5rem 0 0 0;
    padding: 6rem 1rem 2rem 1rem;
  }
  @media (min-width: $mobile+1px){
    margin: 7rem auto 4rem auto;
    padding: 6rem 2rem 2rem 2rem;
  }
}

.c-box_main-img{
  width: 10rem;
  height: auto;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  @media (max-width: $mobile){
    top: 2rem;
  }
  @media (min-width: $mobile+1px){
    top: 4rem;
  }
}

.c-box_heading{
  font-family: $font-secondary;
  font-weight: normal;
  margin-top: 3rem;
}

.c-box_text{
  margin: 0 auto;
  font-size: 1rem;
  color: $color-gray;
  width: 80%;
}

.c-box_button{
  background-color: $color-primary;
  color: $color-light;
  border: none;
  text-transform: uppercase;
  font-family: $font-secondary;
  font-size: 1.1rem;
  letter-spacing: $baloo-letter-spacing;
  border-radius: 5px;
  cursor: pointer;
  margin: 2rem auto 0 auto;
  text-decoration: none;
  @media (max-width: 215px){
    padding: 0.5rem 1rem;
  }
  @media (min-width: 216px){
    padding: 0.5rem 2rem;
  }
}

.c-box_button:hover{
  background-color: $color-primary-hover;
  outline: none;
}
.c-box_button:active{
  outline: none;
}
.c-box_button:focus{
  outline: none;
}


/* ---  CARDS ---*/


.c-content_boxes{
  display: flex;
  text-align: right;
  @media (min-width: 1181px) {
    flex-direction: row;
    width: 70rem;
    justify-content: space-between;
  }
  @media (max-width: 1180px) {
    flex-direction: column;
  }
  @media (min-width: $mobile+1px){
    margin: auto;
  }
  @media (max-width: $mobile){
    margin: 0;
  }
}

.c-card{
  box-sizing: border-box;
  font-family: $font-main-thick;
  background-color: $color-white;
  box-shadow: 0 0 15px $color-shadow;
  display: flex;
  flex-direction: column;
  margin: 0 auto 2rem auto;
  padding: 0 0 2rem 2rem;
  p, h3{
    margin: 0;
    padding: 0;
  }
  h3{                          //name
    font-family: $font-secondary;
    font-weight: 200;
    font-size: 1.5rem;
    margin: 0 2rem 0 0;
    max-width: 16rem;
    letter-spacing: 1px;
    text-align: left;
  }

  div:nth-child(3){
    display: flex;
    margin: 0.5rem 0;
    padding-right: 2rem;
    @media (min-width: 380px){
      flex-direction: row;
      > p:first-child{ //breed
        margin: 0 2rem 0 0;
      }
    }
    @media (max-width: 379px){
      flex-direction: column;
    }
    p:first-child{               //breed
      color: $color-primary;
      font-weight: 600;
      margin: 0 2rem 0 0;
      max-width: 16rem; //depends on the length of dog chip
    }
    p:last-child{               //birth
      color: $color-gray;
      font-size: 0.9rem;
      font-weight: 600;
    }

  }
  > p:nth-child(4){                 //chip
    font-size: 0.9rem;
    background-color: $color-lightgray;
    border-radius: 3px;
    padding: 0.3rem 0.6rem;
    font-weight: 600;
    margin-right: auto;
    @media (max-width: 379px){
      margin-right: 2rem;
    }
  }
  > div:nth-child(5){               //buttons
    display: flex;
    margin: 1rem 2rem 0 0;
    @media (min-width: 380px){
      flex-direction: row;
      justify-content: space-between;
    }
    @media (max-width: 379px){
      flex-direction: column;
      button:first-child{
        margin-bottom: 0.5rem;
      }
    }
  }

  @media (min-width: $mobile+1px){
    width: 25rem;
  }
  @media (max-width: $mobile){
    width: 100%;
  }
}

.c-card_close{
  text-transform: uppercase;
  color: $color-gray;
  font-size: 0.7rem;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1rem;
  img{
    margin: 0;
    padding: 0 0 0 0.5rem;
    width: 0.7rem;
    height: auto;
  }
  i{
    font-size: 1rem;
    padding: 1rem 1rem 0 1rem;
  }
  i:hover{
    color: $color-black;
    cursor: pointer;
  }
  a:first-child > i{
    padding-right: 0;
  }
}

.c-card-1section{
  display: flex;
  flex-direction: column;
  padding: 0 0 1rem 0;
  margin: 0 2rem 0 0;
  border-bottom: 1px solid $color-lightgray;
  div{
    display: flex;
    flex-direction: row;
    align-items: center;
    //justify-content: space-between;
    @media (min-width: $mobile+1px){

    }
    @media (max-width: $mobile){
      flex-wrap: wrap;
    }
  }
  div:first-child h3{             //name
    font-family: $font-secondary;
    font-weight: 200;
    font-size: 1.5rem;
    margin: 0 2rem 0 0;
    max-width: 16rem;
    letter-spacing: 1px;
    @media (min-width: $mobile+1px){}
    @media (max-width: $mobile){
      margin-bottom: 0.5rem;
    }
  }
  div:first-child p{              //birth
    color: $color-gray;
    font-size: 0.9rem;
    font-weight: 600;
    @media (min-width: $mobile+1px){}
    @media (max-width: $mobile){
      margin-bottom: 0.5rem;
    }
  }

  div:last-child p:first-child{    //breed
    color: $color-primary;
    font-weight: 600;
    margin: 0 2rem 0 0;
    max-width: 16rem; //depends on the length of dog chip
    @media (min-width: $mobile+1px){}
    @media (max-width: $mobile){
      margin-bottom: 0.5rem;
    }
  }
  div:last-child p:last-child{     //chip
    font-size: 0.9rem;
    background-color: $color-lightgray;
    border-radius: 3px;
    padding: 0.3rem 0.6rem;
    font-weight: 600;
    @media (min-width: $mobile+1px){}
    @media (max-width: $mobile){
      margin-bottom: 0.5rem;
    }
  }
}

.c-card-2section{
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 0 0;
  margin-right: 1rem;
}

.c-card-2section_event{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media (min-width: $mobile+1px){
  }
  @media (max-width: $mobile){
    flex-wrap: wrap;
  }
  > div{                      //syringe + event name
    display: flex;
    flex-direction: row;
    align-items: center;
    @media (min-width: $mobile+1px){}
    @media (max-width: $mobile){
      margin-bottom: 1rem;
    }
  }
  div div{                   //syringe circle
    background-color: $color-lightlightgray;
    border-radius: 50%;
    width: 1.7rem;
    height: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img{                      //syringe
      width: 0.9rem;
      height: auto
    }
  }
  div p{                      //event name
    font-weight: 600;
    font-size: 0.8rem;
    margin-left: 0.5rem;
    max-width: 7rem;
  }
  > p:nth-child(2) {          //date
    font-weight: 600;
    font-size: 0.8rem;
    color: $color-gray;
    background-color: $color-lightlightgray;
    padding: 0.3rem 0.5rem;
    border-radius: 10px;
    @media (min-width: $mobile+1px){}
    @media (max-width: $mobile){
      margin: 0 0 1rem 1rem;
    }
  }
  > p:last-child{            //period
    color: $color-primary;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 600;
    @media (min-width: $mobile+1px){}
    @media (max-width: $mobile){
      margin: 0 0 1rem 1rem;
    }
  }
}

.c-card-2section_add{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
  text-decoration: none;
  > div{                      //plus circle
    background-color: $color-lightlightgray;
    border-radius: 50%;
    width: 1.7rem;
    height: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img{                      //plus
      width: 0.9rem;
      height: auto
    }
  }
  > p{
    color: $color-gray;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 0.5rem;
  }
}
.c-card-2section_add:hover{
  > div{
    background-color: $color-primary-light;
  }
  > p{
    color: $color-primary;
  }
}

.c-card_form{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  width: 100%;;
}

.c-card-form_section{
  padding: 0 0 0.5rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  label{
    padding-right: 0.5rem;
  }
  input, select{
    box-sizing: border-box;
    width: 17.3rem;
    padding: 0.2rem;
  }
}

.c-card-form_section-note{
  box-sizing: border-box;
  padding: 0 0 0.5rem 0;
  margin-bottom: 0.5rem;
  input{
    box-sizing: border-box;
    width: 100%;
    padding: 0.2rem;
  }
}

.c-card-form-bold{
  color: $color-primary;
  font-weight: 600;
}

.c-coupon-smaller_btn{
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin: 0.5rem 0 1.5rem 0;
}

/* add card*/

.c-card-add{
  box-sizing: border-box;
  font-family: $font-secondary;
  text-transform: uppercase;
  color: $color-lightgray;
  font-size: 1.2rem;
  letter-spacing: 2px;
  border: 1px dashed $color-lightgray;
  display: flex;
  flex-direction: column;
  margin: 0 auto 2rem auto;
  padding: 1.5rem;
  text-align: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  p{
    margin: 0;
    padding: 0;
  }
  img, i{
    width: 1.5rem;
    height: auto;
    margin-bottom: 0.5rem;
  }
  @media (min-width: $mobile+1px){
    width: 25rem;
    border-radius: 15px;
  }
  @media (max-width: $mobile){
    width: 100%;
  }
}

.c-card-add:hover{
  background-color: transparentize($color-black, 0.9);
  color: $color-gray;
  border-color: $color-gray;
}




/* --- DISCOUNTS --- */

.c-box-voucher{
  box-sizing: border-box;
  font-family: $font-main-thick;
  background-color: $color-white;
  box-shadow: 0 0 15px $color-shadow;
  padding: 1rem 2rem;
  @media (min-width: $mobile+1px){
    max-width: 35rem;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    align-items: center;
    margin: 1rem auto;
  }
  @media (max-width: $mobile){
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
  }
  > h3{           //voucher name
    grid-row: 1/2;
    grid-column: 1/4;
    font-family: $font-secondary;
    font-weight: normal;
    padding: 0;
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
    max-width: 16rem;
    letter-spacing: 1px;
    /*@media (max-width: $mobile){
      margin: 0 0 0.5rem 0;
    }*/
    @media (min-width: $mobile+1px){

    }
    /*@media (max-width: 400px){
      font-size: 1.4rem;
    }*/
  }
  > a{            //show
    grid-row: 2/3;
    grid-column: 1/2;
    font-family: $font-secondary;
    letter-spacing: $baloo-letter-spacing;
    font-weight: normal;
    color: $color-primary;
    text-decoration: none;
    margin: 0 2rem 0 0;
    padding: 0;
    /*@media (max-width: $mobile){
      margin: 0;
      padding: 0 0 0 0.6rem;
    }*/
    @media (min-width: $mobile+1px){
    }
  }
  > a:hover{
    color: $color-primary-hover;
  }
  > p:nth-child(3){     //validity
    grid-row: 2/3;
    grid-column: 2/3;
    font-family: $font-main;
    font-size: 0.9rem;
    background-color: $color-lightgray;
    border-radius: 3px;
    padding: 0.3rem 0.6rem;
    font-weight: 600;
    @media (max-width: $mobile){
      margin: 0.5rem 0;
    }
    @media (min-width: $mobile+1px){
      margin: 0 2rem 0 0;
    }
  }
  > p:last-child{         //bought
    grid-row: 2/3;
    grid-column: 3/4;
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
    /*@media (max-width: $mobile){
      padding: 0 0 0 0.6rem;
    }*/
    @media (min-width: $mobile+1px){
    }
  }
}

.c-voucher-another{
  text-decoration: none;
  color: $color-primary;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem 0 0 0;
  display: block;
  @media (min-width: $mobile+1px){
    width: 35rem;
  }
  @media (max-width: $mobile){
    width: 100%;
  }
}
.c-voucher-another:hover{
  text-decoration: underline;
  i{
    text-decoration: underline;
  }
}

/* --- USER --- */

.c-box-user{
  font-family: $font-main-thick;
  box-sizing: border-box;
  background-color: $color-lightlightgray;
  //box-shadow: 0 0 15px $color-shadow;
  display: flex;
  margin: 2rem auto;
  padding: 0;
  //width: 50rem;
  @media (max-width: 700px){
    flex-direction: column;
  }
  @media (min-width: 701px){
    flex-direction: row;
  }
  @media (max-width: 400px){
    width: 100%;
  }
  h3, p{
    padding: 0;
    margin: 0;
  }
  > div{                // 1st section
    padding: 1.5rem;
    display: flex;
    align-items: center;
    @media (min-width: 401px){
      flex-direction: row;
    }
    @media (min-width: 701px){
      border-right: 1px solid $color-lightgray;
    }
    @media (max-width: 400px){
      flex-direction: column;
    }
    > img{              //user image
      border-radius: 50%;
      width: 6rem;
      height: 6rem;
      object-fit: cover;
      margin-right: 1.5rem;
    }
    > div{              //info
      h3{               //name
        font-family: $font-secondary;
        font-weight: 200;
        letter-spacing: 2px;
        font-size: 1.5rem;
        @media (max-width: 400px){
          text-align: center;
        }
      }
      > div{            //email + city
        color: $color-gray;
        display: flex;
        align-items: center;
        margin: 0.1rem 0 0.6rem 0;
        @media (min-width: 401px){
          flex-direction: row;
        }
        @media (max-width: 400px){
          text-align: center;
          flex-direction: column;
        }
        p:first-child{  //email
          padding-right: 0.5rem;
        }
        p:last-child{   //city
          @media (min-width: 401px){
            padding-left: 0.5rem;
            border-left: 1px solid $color-gray;
          }
        }
      }
      > p{              //registration
        color: $color-primary;
        text-transform: uppercase;
        background-color: $color-lightgray;
        padding: 0.3rem 0.5rem;
        font-weight: 600;
        @media (max-width: 400px){
          text-align: center;
        }
      }
    }
  }
  > a{                  // 2nd section
    text-decoration: none;
    color: $color-primary;
    display: flex;
    flex-direction: row;
    align-items: center;
    @media (max-width: 700px){
      justify-content: center;
      border-top: 1px solid $color-lightgray;
    }
    @media (min-width: 701px){
      padding: 1.5rem;
    }
    > img{              //syringe
      width: 1.5rem;
      height: auto;
    }
    > p:nth-child(2){   //reminder
      margin: 0 1rem;
      padding: 2rem 0;
      @media (max-width: 400px){
      }
      @media (min-width: 401px){
        font-size: 1.2rem;
      }
    }
    > p:nth-child(2):hover{   //reminder
      text-decoration: underline;
    }
    .c-box-user_notification{
      color: $color-white;
      background-color: $color-help-red;
      display: block;
      padding: 0.1rem 0.5rem;
      border-radius: 9px;
      font-size: 0.7rem;
      font-weight: 600;
      position: relative;
      right: 1.2rem;
      top: -0.8rem;
    }
  }
}
