

.c-header{
  position: relative;
  //z-index: 997;
  ul{
    list-style-type: none;
    li a{
      text-decoration: none;
    }
  }
  box-sizing: border-box;
  @media (max-width: $tablet){
    margin: 0 1rem;
  }
  @media (min-width: $tablet+1px){
    width: calc(100% - (1.5rem * 2));
    margin: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-lightgray;
  }
}

.c-dropdown_arrow{
  @media (max-width: $tablet){
    color: $color-black;
    text-decoration: none;
  }
}
  .c-nav_mob{
    @media (max-width: $tablet){
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
      border-bottom: 1px solid $color-lightgray;
    }
  }

/*  LOGO and NAME  */
.c-header_brand{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $color-black;
}

.c-brand_logo{
  height: 5rem;
}

.c-brand_name{
  margin: 0;
  font-size: 2.4rem;
  font-weight: normal;
  letter-spacing: 2px;
  @media (max-width: $tablet){
    padding: 0;
  }
  @media (min-width: $tablet+1px){
    padding: 0 1.5rem;
  }
}


/*  COUNTERS  */
.c-header_counters{
  display: flex;
  margin: 0;
  @media (max-width: $tablet){
    justify-content: center;
    border-bottom: 1px solid $color-lightgray;
  }
  @media (min-width: $tablet+1px){
    flex-wrap: wrap;
    padding: 1.5rem;
    border-left: 1px solid $color-lightgray;
    border-right: 1px solid $color-lightgray;
  }
  /*@media (max-width: 423px){
    display: none;
  }*/
}

.c-counters_ul{
  margin: 0;
  @media (max-width: $tablet){
    padding: 1.5rem;
  }
  @media (min-width: $tablet+1px){
    padding: 0 1.5rem;
  }
}

.c-counter_li{
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 2px;
}

/*#c-count-li_help{
  @media (min-width: $tablet+1px) and (max-width: 1361px){
    padding-top: 0.5rem;
  }
}*/

.c-counter_name{    //li
  color: $color-primary;
  font-size: 0.8rem;
}

.c-counter_value{   //li
  color: $color-black;
  font-size: 1.65rem;
}


/*  NAVIGATION  */
.c-header_nav{
  display: flex;
  font-size: 1.1rem;
  font-weight: normal;
}

.c-nav_ul{
  display: inline-flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.c-nav_li{}

.c-nav_item{      //a
  color: $color-primary;
  letter-spacing: 2px;
  line-height: 1.5;
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

.c-nav_item:hover{
  color: $color-primary-hover;
}


/*  -- LANGUAGE --  */
.c-nav_language{
  width: 1.5rem;
  height: auto;
  padding: 0;
  margin: 0 0;
}
.c-nav_language:hover{}

.c-nav-item_user{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.c-nav-item-user_img{
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-right: 0.7rem;
  object-fit: cover;
}


/* -- Submenu -- */
.c-nav_submenu{
  //background: $color-primary-light;
  //background: $color-white;
  position: absolute;
  padding: 0;
  z-index: 20;
}

.c-nav-submenu_container{
  padding: 0.6rem 0 0 2rem;
}

.c-nav-submenu_li{
  display: block;
  box-sizing: border-box;
  width: 100%;
  text-align: left;

  a{
    display: block;
    color: $color-primary;
    //background: $color-primary-light;
    background: $color-white;
    padding: 0.5rem 1rem;
    width: 100%;
    border-left: 1px solid lighten($color-primary, 30);
    border-right: 1px solid lighten($color-primary, 30);
  }

  a:hover{
    color: $color-primary-hover;
    background: $color-primary-light;
  }
}

.c-nav-submenu_first a{
  padding-top: 1rem;
  border-top: 1px solid lighten($color-primary, 30);
}
.c-nav-submenu_last a{
  padding-bottom: 1rem;
  border-bottom: 1px solid lighten($color-primary, 30);
}

.c-nav_ul ul{
  visibility: hidden;
  opacity: 0;
  //transition: all 1.5s;
}
.c-nav_ul li:hover ul{
  visibility: visible;
  opacity: 1;
  //transition: all 0.3s;
}


/* --- DROPDOWN MENU --- */

.c-no-border{
  border: none !important;
}

.c-dropdown_input{  //hide chechbox
  display: none;
}

.c-dropdown_input:checked ~ .c-dropdown_submenu{  //show submenu
  max-height: 100rem;
}

.c-dropdown_input:checked ~ .c-dropdown-submenu_submenu{  //show submenu of submenu
  max-height: 100rem;
}

.c-dropdown_input:checked ~ .c-dropdown_label{
  .fa-chevron-down{
    display: none;
  }
  .fa-chevron-up{
    display: block;
  }
}

.c-dropdown_label{
  .fa-chevron-down{
    display: block;
  }
  .fa-chevron-up{
    display: none;
  }
}

.c-no-margpadd{
  margin: 0;
  padding: 0;
}

.c-dropdown_arrow{
  padding: 1rem 0 1rem 3rem;
  height: 100%;
}

.c-dropdown_arrow:hover{
  color: transparentize($color-black, 0.5);
}

.c-dropdown_submenu{
  box-sizing: border-box;
  max-height: 0;
  padding: 0 2rem;
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: $color-white;
  box-shadow: 0 0 15px 0 $color-shadow;
  margin: 1.5rem 0 0 0;
  text-align: center;
  li a, .c-dropdown-submenu_submenu-label{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $color-primary;
    letter-spacing: 2px;
    line-height: 1.5;
    font-size: 1.1rem;
    font-weight: normal;
    padding: 1rem;
    border-bottom: 1px solid $color-separator-line;
  }
  li a:hover, .c-dropdown-submenu_submenu-label:hover{
    background-color: $color-primary-light;
  }
}

.c-dropdown-submenu_submenu{
  box-sizing: border-box;
  max-height: 0;
  padding: 0 2rem;
  overflow: hidden;
}

.c-dropdown-submenu_arrow{
  padding: 0 0 0 1rem;
  font-size: 1rem;
}

.c-dropdown_input:checked ~ label.c-dropdown-submenu_submenu-label{
  .fa-chevron-down{
    display: none;
  }
  .fa-chevron-up{
    display: block;
  }
}

.c-dropdown-submenu_submenu-label{
  .fa-chevron-down{
    display: block;
  }
  .fa-chevron-up{
    display: none;
  }
}