
.c-message{
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: $font-main-thick;
  letter-spacing: 1px;
  font-size: 0.9rem;
  text-align: center;
  padding: 0 0.5rem;
  p{
    margin: 0.5rem 0;
  }
}

.c-msg_icon{
  padding-right: 0.5rem;
  font-size: 1.1rem;
}

.c-success{
  background-color: $color-success-bcg;
  color: $color-success-text;
  border: 1px solid $color-success-line;
}

.c-danger{
  background-color: $color-danger-bcg;
  color: $color-danger-text;
  border: 1px solid $color-danger-line;
}

.c-warning{
  background-color: $color-warning-bcg;
  color: $color-warning-text;
  border: 1px solid $color-warning-line;
}
.c-info{
  background-color: $color-info-bcg;
  color: $color-info-text;
  border: 1px solid $color-info-line;
}

.c-succes-close,
.c-danger-close,
.c-warning-close,
.c-info-close{
  padding-left: 2rem;
}

.c-succes-close{
  color: lighten($color-success-text, 20);
}
.c-danger-close{
  color: lighten($color-danger-text, 20);
}
.c-warning-close{
  color: lighten($color-warning-text, 20);
}
.c-info-close{
  color: lighten($color-info-text, 20);
}