


/*  --- BREADCRUMBS NAVIGATION ---  */

.c-breadcrumbs_nav{
  display: flex;
  flex-direction: row;
  margin: 3rem auto 0 auto;
  align-items: baseline;
}

.c-breadcrumbs-nav_1st{
  font-size: 1rem;
}

.c-breadcrumbs-nav_separator{
  margin: 0 0.5rem;
  font-size: 0.6rem;
}

.c-breadcrumbs-nav_lower{
  font-size: 0.8rem;
  color: $color-bread-gray;
}



/*  --- ARTICLE HEADER ---  */

.c-article_header{
  box-sizing: border-box;
  background-image: url("../img/dog-on-leash.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  height: 15.5rem;
  @media (max-width: 710px){
    margin: 2rem 0 1rem 0;
    border-radius: 0;
    background-position: center center;
  }
  @media (min-width: 711px){
    max-width: 44rem;
    margin: 3rem auto 2rem auto;
    border-radius: 0.5rem;
  }
  @media (max-width: 423px){
    justify-content: flex-end;
    align-items: center;
  }
  @media (min-width: 424px){
    justify-content: space-between;  //vertical (because of column)
    align-items: flex-start;    //horizontal (because of column)
  }
  p{  //date
    font-family: $font-main-thick;
    color: $color-light;
    padding: 0;
    text-shadow: 1px 1px 5px black;
    @media (max-width: 423px){
      margin: 0 0 1rem 0;
    }
    @media (min-width: 424px){
      margin: 0;
    }
  }
  h2{
    font-weight: normal;
    padding: 0.2rem 1rem;
    margin: 0;
    //background: $color-light;
    background: transparentize($color-light, 0.3);
    @media (max-width: 423px){
      width: 100%;
      border-radius: 0;
      text-align: center;
    }
    @media (min-width: 424px){
      width: auto;
      border-radius: 0.5rem;
    }
  }
}


/*  --- ARTICLE CONTENT (TEXT) ---  */

.c-content_article{
  max-width: 40rem;     //if change you have to change also height in c--article_header
  margin: auto;
  padding: 0 2rem;
}

.c-article_text{
  font-family: $font-main-thick;
  text-align: justify;
  h3{
    font-family: $font-secondary;
    font-weight: normal;
  }
}

/* --- ABOUT HEADER ---*/
.c-article_box{
  font-family: $font-main-thick;
  background-color: $color-light;
  box-shadow: 0 0 15px $color-shadow;
  border-radius: 0.5rem;
  margin: 2rem auto;
  display: flex;
  @media (min-width: 770px){
    width: 44rem;
    flex-direction: row;
  }
  @media (max-width: 769px){
    width: 100%;
    flex-direction: column;
    text-align: center;
    background-image: url("../img/photos/7.jpg");
    background-size: cover;
  }
  div{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    @media (min-width: 770px){
      width: 65%;
    }
    @media (max-width: 769px){
      width: 100%;
    }
  }
  h2{
    font-family: $font-secondary;
    font-weight: normal;
    color: $color-primary;
    padding: 0;
    margin: 0;
  }
  p{
    font-family: $font-main-thick;
    text-align: justify;
  }
  img{
    box-sizing: border-box;
    object-fit: cover;
    height: auto;
    @media (min-width: 770px){
      width: 35%;
      border-radius: 0 0.5rem 0.5rem 0;
    }
    @media (max-width: 769px){
      display: none;
      width: 100%;
      max-height: 15rem;
      margin: auto;
    }
    @media (max-width: 330px){
      max-height: 10rem;
    }
  }
}



