
.c-footer{
  background-color: $color-footer-bcg;
  color: $color-light;
  display: flex;
  flex-direction: column;
  font-family: $font-main-thick;
  padding: 0 1rem;
  line-height: 2;
  h3{
    font-family: $font-secondary;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  @media (max-width: $tablet){
    margin-top: 2rem;
  }
  @media (min-width: $tablet+1px){
    margin-top: 4rem;
  }
}

.c-footer_in{
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid $color-footer-line;

  @media (max-width: $tablet){
    flex-direction: column;
  }
  @media (min-width: $tablet+1px){
    flex-direction: row;
    padding-top: 2rem;
  }
}


.c-footer_desc{
  box-sizing: border-box;
  @media (max-width: $tablet){
    text-align: center;
    border-bottom: 1px solid $color-footer-line;
    padding: 1rem 0;
  }
  @media (min-width: $tablet+1px){
    padding: 0 3rem 1rem 3rem;
    max-width: 24rem;
  }
}

.c-ftr-desc_text{
  margin: 0;
}

.c-footer_insta{
  box-sizing: border-box;
  @media (max-width: $tablet){
    text-align: center;
    border-bottom: 1px solid $color-footer-line;
    padding: 1rem 0;
  }
  @media (min-width: $tablet+1px){
    border-left: 1px solid $color-footer-line;
    border-right: 1px solid $color-footer-line;
    padding: 0 3rem 1rem 3rem;
    max-width: 24.4rem;
  }
}

.c-ftr_line-height-padding{
  padding-bottom: 0.5rem;
}

.c-ftr-insta_img{}

.c-footer_links-in{
  box-sizing: border-box;
  @media (max-width: $tablet){
    text-align: center;
    padding: 1rem 0;
  }
  @media (min-width: $tablet+1px){
    padding: 0 3rem 1rem 3rem;
  }
}

.c-ftr_ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.c-ftr_li{
  a{
    text-decoration: none;
    color: $color-light;
  }
  a:hover{
    color: $color-primary;
  }
}

.c-footer_links-out{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
  a{
    margin: 0;
    padding: 0;
  }
  @media (max-width: $tablet){
    padding: 1rem 0;
  }
  @media (min-width: $tablet+1px){
    padding: 1.5rem 1.5rem 1rem 1.5rem;
  }
}

.c-ftr_links-out_img{
  padding: 0 1rem;
  margin: 0;
  font-size: 2rem;
  color: $color-footer-line;
}

#c-logo-fb:hover{
  color: $color-facebook;
}

#c-logo-yt:hover{
  color: $color-youtube;
}