
.c-content_box-heading{
  font-family: $font-secondary;
  letter-spacing: $baloo-letter-spacing;
  color: $color-primary;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
}

.c-content-box-heading_icon{
  font-weight: normal;
  background-color: $color-primary-light;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-30deg);
  img{
    width: 1.5rem;
    height: auto;
  }
}
.c-icon-rotate{
  transform: rotate(-30deg);
}

.c-content-box-heading_text{
  font-weight: normal;
  margin: 1rem 0 0 0;
  text-align: center;
}

.c-box2{
  font-family: $font-main-thick;
  background-color: $color-white;
  box-shadow: 0 0 15px $color-shadow;
  @media (max-width: $mobile){
    box-sizing: border-box;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
  }
  @media (min-width: $mobile+1px){
    margin: 1rem auto;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    align-items: center;
    padding: 1rem 2rem;
    max-width: 35rem;
  }
}

.c-box2_heading{
  grid-row: 1/2;
  grid-column: 1/4;
  font-family: $font-secondary;
  letter-spacing: $baloo-letter-spacing;
  font-weight: normal;
  font-size: $inuit-font-size-h2;
  padding: 0;
  @media (max-width: $mobile){
    margin: 0 0 0.5rem 0;
  }
  @media (min-width: $mobile+1px){
    margin: 0 0 1rem 0;
  }
  @media (max-width: 400px){
    font-size: 1.4rem;
  }
}

.c-box2_show{
  grid-row: 2/3;
  grid-column: 1/2;
  font-family: $font-secondary;
  letter-spacing: $baloo-letter-spacing;
  font-weight: normal;
  color: $color-primary;
  text-decoration: none;
  @media (max-width: $mobile){
    margin: 0;
    padding: 0 0 0 0.6rem;
  }
  @media (min-width: $mobile+1px){
    margin: 0 2rem 0 0;
    padding: 0;
  }
}
.c-box2_show:hover{
  color: $color-primary-hover;
}

.c-box2_validity{
  grid-row: 2/3;
  grid-column: 2/3;
  font-family: $font-main;
  font-size: 0.9rem;
  background-color: $color-lightgray;
  padding: 0.3rem 0.6rem;
  @media (max-width: $mobile){
    margin: 0.5rem 0;
  }
  @media (min-width: $mobile+1px){
    margin: 0 2rem 0 0;
  }
}

.c-box2_buy{
  grid-row: 2/3;
  grid-column: 3/4;
  font-size: 0.9rem;
  margin: 0;
  @media (max-width: $mobile){
    padding: 0 0 0 0.6rem;
  }
  @media (min-width: $mobile+1px){
    padding: 0;
  }
}

/* --- COUPONS --- */

.c-coupon-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.c-coupon{
  box-sizing: border-box;
  background-color: $color-white;
  //box-shadow: 0 0 15px $color-shadow;
  border: 1px solid $color-black;
  display: flex;
  flex-direction: row;
  font-family: $font-main-thick;
  //width: 53rem;
  position: relative;
  /*display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);*/
  /*@media (max-width: $mobile){
    box-sizing: border-box;
    width: 100%;
    margin: 1rem 0;
  }*/
  @media (min-width: $mobile+1px){
    //margin: 1rem auto;
    //max-width: 45rem;
  }
  > a{
    box-sizing: border-box;
    //max-width: 15rem;
    margin: 0;
    padding: 1rem 1rem 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    > img{
      box-sizing: border-box;
      max-width: 16rem;
      max-height: 100%;
      object-fit: contain;
    }
  }
  div:nth-child(2){
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1rem;
    width: 18rem;
    justify-content: space-between;
    h2{
      font-family: $font-secondary;
      font-weight: 200;
      letter-spacing: 1px;
      margin: 0;
      text-transform: uppercase;
    }
    p{
      margin: 0.5rem 0 0.5rem 0;
      font-size: 1rem;
    }
    a{
      margin: 0;
      text-decoration: none;
      color: $color-primary;
    }
    a:hover{
      text-decoration: underline;
      font-weight: bold;
    }
  }
  div:last-child{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-left: 1px dashed $color-black;
    margin: 0;
    text-align: center;
    padding: 1rem 2rem 1rem 1rem;
    width: 15rem;
    justify-content: space-between;
    p:first-child{
      color: $color-gray;
      margin: 0;
      font-size: 0.9rem;
    }
    p:nth-child(2){
      font-family: $font-secondary;
      font-size: 3rem;
      margin: 0;
    }
    p:nth-child(3){
      color: $color-gray;
      margin: 0;
      font-size: 0.9rem;
    }
    p:last-child{
      color: $color-gray;
      margin: 0.5rem 0 0 0;
      font-size: 0.9rem;
    }
  }
}

.c-coupon:before,
.c-coupon:after{
  box-sizing: border-box;
  content: '';
  position: absolute;
  top: calc(50% - 1.5rem);
  height: 3rem;
  width: 1.7rem;
  border: 1px solid $color-black;
}
.c-coupon:before {
  left: -1px;
  border-radius: 0 20rem 20rem 0;
  border-left-color: $color-white;
}
.c-coupon:after {
  right: -1px;
  border-radius: 20rem 0 0 20rem;
  border-right-color: $color-white;

}

/*
.c-coupon::before, .c-coupon::after{
  position: relative;
  content: '';
  width: 150px;
  height: 150px;
  background: red;
  //bottom: -1em;
  //z-index: 100;
}

.c-coupon::before{
  right: 0;
  transform: skew(0, 20deg)
}

.c-coupon::after{
  left: 0;
  transform: skew(0, -20deg)
}*/

.c-coupon-choose{
  margin-left: 3rem;
  padding: 0.5rem 1.5rem;
}




.c-box{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: $font-main-thick;
  background-color: $color-light;
  box-shadow: 0 0 15px $color-shadow;
  @media (max-width: $mobile){
    margin: 5rem 0 0 0;
    padding: 6rem 1rem 2rem 1rem;
  }
  @media (min-width: $mobile+1px){
    margin: 7rem auto 4rem auto;
    padding: 6rem 2rem 2rem 2rem;
  }
}

.c-box_main-img{
  width: 10rem;
  height: auto;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  @media (max-width: $mobile){
    top: 2rem;
  }
  @media (min-width: $mobile+1px){
    top: 4rem;
  }
}

.c-box_heading{
  font-family: $font-secondary;
  font-weight: normal;
  margin-top: 3rem;
}

.c-box_text{
  margin: 0 auto;
  font-size: 1rem;
  color: $color-gray;
  width: 80%;
}

.c-box_button{
  background-color: $color-primary;
  color: $color-light;
  border: none;
  text-transform: uppercase;
  font-family: $font-secondary;
  font-size: 1.1rem;
  letter-spacing: $baloo-letter-spacing;
  border-radius: 5px;
  cursor: pointer;
  margin: 2rem auto 0 auto;
  @media (max-width: 215px){
    padding: 0.5rem 1rem;
  }
  @media (min-width: 216px){
    padding: 0.5rem 2rem;
  }
}

.c-box_button:hover{
  background-color: $color-primary-hover;
  outline: none;
}
.c-box_button:active{
  outline: none;
}
.c-box_button:focus{
  outline: none;
}